.grid{
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}
.post-img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scales the image to cover the container while maintaining aspect ratio, cropping the excess */
    object-position: top;
}
.crop-container {
    border-radius: 24px;
  max-width: 400px; /* Desired width of the cropped area */
  max-height: 400px; /* Desired height of the cropped area */
  overflow: hidden; /* Hides the parts outside the container */
}

.profile{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: bottom;
}

.profile-container {
    position: relative;
    border-radius: 35px 0 35px 0;
    max-width: 350px;
    max-height: 350px;
    overflow: hidden;
}
html, body {
  height: 100vh; /* Ensure the body takes the full height of the viewport */
}

body {
  display: flex;
  flex-direction: column; /* Stack header, main, and footer vertically */
}
main {
  flex-grow: 1; /* Allow the main content area to expand and fill available space */
}