<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<body>
  <main class="container">
    <nav>
      <ul>
        <li><strong>Jamesmains Flask App</strong></li>
      </ul>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <div class="container">
      <div class="grid">
        <div>
          <p>&copy; <span id="year"></span> Jamesmains. All rights reserved.</p>
        </div>
        <div>
            <a href="https://github.com/jamesmains?tab=repositories">Github</a>
            <a href="https://www.linkedin.com/in/tyler-jim-sims/">LinkedIn</a>
        </div>
      </div>
    </div>
  </footer>
</body>
<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>